Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

feat(list): Add `sortByProps` function
  src/index.js
  src/sortByProp.js
  src/sortByProps.js
  test/sortByProp.js
Due: eslint

feat(toNumber): implement function
  src/index.js
  src/internal/isCoercible.js
  src/toNumber.js
  test/toNumber.js
  types/index.d.ts
  types/test/toNumber.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(isCoercible): remove unused code
  src/internal/isCoercible.js
Due: eslint

test(toNumber): covarage all javascript types
  test/toNumber.js
Due: eslint

feat(sortByPath): sort list according to paths
  src/index.js
  src/sortByPath.js
  test/sortByPath.js
Due: eslint

refactor(toNumber): update imports and method descriptions
  src/index.js
  src/internal/isCoercible.js
  src/toNumber.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(toNumber): create more unit tests for object values
  test/toNumber.js
Due: eslint

feat: adding presence
  src/index.js
  src/presence.js
  test/presence.js
Due: eslint

Update index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update toNumber.js
  test/toNumber.js
Due: eslint

Update test/toNumber.js
  test/toNumber.js
Due: eslint

feat(type): add toNumber (#2103)
  src/index.js
  src/internal/isCoercible.js
  src/toNumber.js
  test/toNumber.js
  types/index.d.ts
  types/test/toNumber.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

updating doc
  src/presence.js
  test/presence.js
Due: eslint

feat(isBlank): implemented isBlank function
  src/index.js
  src/isBlank.js
  test/isBlank.js
Due: eslint

refactor: refactoring isBlank logic
  src/isBlank.js
Due: eslint

fix(contained): use R.includes instead of R.contains
  src/contained.js
Due: eslint

fix(omitIndexes): use R.includes instead of R.contains
  src/omitIndexes.js
Due: eslint

fix(pickIndexes): use R.includes instead of R.contains
  src/pickIndexes.js
Due: eslint

feat: add support for ramda@0.27.2
  README.md
  package.json
Due: none

chore(release): cut the v2.36.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

v2.36.0 [ci skip]
  index.html
Due: none
