Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(donate): remove donations from postinstall script
  .npmignore
  package.json
  scripts/donate.js
Due: eslint

chore(npm): ignore unnecessary files on release
  .npmignore
Due: none

chore(release): cut the v2.19.2 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none

chore(release): cut the v2.19.3 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none

chore: bump version to v2.20.0
  package-lock.json
  package.json
Due: none

v2.19.3 [ci skip]
  index.html
Due: none

docs(nand): fix documentation (#1024)
  src/nand.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(nand): fix typo in documentation
  src/nand.js
Due: eslint

feat(logic): add nor (#1023)
  src/index.js
  src/nor.js
  test/nor.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(nor): align this feature with CR comments
  src/nor.js
Due: eslint

chore(package): update dtslint to version 0.9.6
  package-lock.json
  package.json
Due: none

docs(FUNDING): add tidelift
  .github/FUNDING.yml
Due: none

docs(README): add tidelift to readme
  README.md
Due: none

docs(README): fix tidelift link
  README.md
Due: none

docs(README): fix tidelift logo size
  README.md
Due: none

docs(README): fix tidelift position
  README.md
Due: none

feat(type): add isSparseArray predicate
  src/index.js
  src/isSparseArray.js
  test/isSparseArray.js
  types/index.d.ts
  types/test/isSparseArray.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(release): cut the v2.20.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
