Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(function): fnull
  package-lock.json
  package.json
Due: none

feat(function): fnull
  types/test/fnull.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test: add ramda placeholder and make tests consistent
  test/reduceP.js
  test/reduceRightP.js
  test/rejectP.js
  test/renameKeys.js
  test/renameKeysWith.js
Due: eslint

test: Fix tests
  test/sortByProps.js
Due: eslint

Update package-lock.json
  package-lock.json
Due: none

test: add ramda placeholder and make tests consistent (#1335)
  test/reduceP.js
  test/reduceRightP.js
  test/rejectP.js
  test/renameKeys.js
  test/renameKeysWith.js
Due: eslint

feat: add fnull (#1321)
  src/fnull.js
  src/index.js
  test/fnull.js
  types/index.d.ts
  types/test/fnull.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs: Fix param type
  src/sortByProps.js
Due: eslint

feat: add sortByProps (#1323)
  src/index.js
  src/sortByProps.js
  test/sortByProps.js
  types/index.d.ts
  types/test/sortByProps.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(sortByProps): cleanup the tests
  test/sortByProps.js
Due: eslint

fix(mapIndexed): Make list argument Readonly
  types/index.d.ts
  types/test/mapIndexed.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix(mapIndexed): make list argument Readonly (#1336)
  types/index.d.ts
  types/test/mapIndexed.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat: add isIndexed
  src/index.js
  src/isIndexed.js
  test/isIndexed.js
  types/index.d.ts
  types/test/isIndexed.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: skipTake
  src/index.js
  src/skipTake.js
  test/skipTake.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update src/isIndexed.js
  src/isIndexed.js
Due: eslint

Update test/isIndexed.js
  test/isIndexed.js
Due: eslint

feat: add isIndexed
  src/isIndexed.js
  test/isIndexed.js
Due: eslint

should support placeholder to specify "gaps
  test/skipTake.js
Due: eslint

Create skipTake.ts
  types/test/skipTake.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

chore(security): fix security vulnerabilities in dep tree
  .github/ISSUE_TEMPLATE.md
  package-lock.json
Due: none

feat: add isIndexed (#1337)
  src/index.js
  src/isIndexed.js
  test/isIndexed.js
  types/index.d.ts
  types/test/isIndexed.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
