Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update isError.js
  src/isError.js
Due: eslint

Update index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update isError.js
  test/isError.js
Due: eslint

feat(type): add isError (#1449)
  src/index.js
  src/isError.js
  test/isError.js
  types/index.d.ts
  types/test/isError.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(VERSIONS): fix typo in 2.28.0 version
  VERSIONS.md
Due: none

feat(list): add rangeStep
  src/index.js
  src/rangeStep.js
  test/rangeStep.js
  types/index.d.ts
  types/test/rangeStep.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update src/rangeStep.js
  src/rangeStep.js
Due: eslint

feat(list): add rangeStep (#1708)
  src/index.js
  src/rangeStep.js
  test/rangeStep.js
  types/index.d.ts
  types/test/rangeStep.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update signature
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update signature and array type
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix(invokeArgs): update TypeScript signature (#1710)
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

docs(README): add article mentioning ramda-adjunct
  README.md
Due: none

feat(relation): add overlaps
  src/index.js
  src/overlaps.js
  test/overlaps.js
  types/index.d.ts
  types/test/overlaps.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(release): cut the v2.30.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v2.31.0
  package-lock.json
  package.json
Due: none

v2.30.0 [ci skip]
  index.html
Due: none

chore(deps-dev): bump eslint-config-prettier from 6.15.0 to 7.1.0
  package-lock.json
  package.json
  src/fnull.js
  src/internal/makeFlat.js
  src/isSymbol.js
  src/pathOrLazy.js
Due: eslint

chore(deps-dev): bump webpack from 4.44.2 to 5.11.0
  .circleci/config.yml
  .gitignore
  package-lock.json
  package.json
  testem.json
  webpack.config-test.web.js
  webpack.config.js
Due: eslint

chore(deps-dev): remove obsolete @babel/polyfill
  package-lock.json
  package.json
  src/replaceAll.js
  test/mocha-bootstrap.js
  test/replaceAll.js
  webpack.config-test.web.js
Due: eslint

feat(list): Add filterIndexed
  src/filterIndexed.js
  src/index.js
  test/filterIndexed.js
  types/index.d.ts
  types/test/filterIndexed.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
