Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(anyP): fix @return tag
  src/anyP.js
Due: eslint

docs(anyP): add @see tag
  src/anyP.js
Due: eslint

test(files): Use chai directly instead of internal eq function in test asserts, B#6
  test/isFalsy.js
  test/isFinite.js
  test/isFloat.js
  test/isFunction.js
  test/isGeneratorFunction.js
  test/isInteger.js
  test/isNegative.js
Due: eslint

feat(promise): add lastP Closes #816
  src/index.js
  src/lastP.js
  test/lastP.js
Due: eslint

chore(package): add funding field
  package.json
Due: none

chore(release): cut the v2.22.1 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none

test(files): use chai directly instead of internal eq function (#1160)
  test/isFalsy.js
  test/isFinite.js
  test/isFloat.js
  test/isFunction.js
  test/isGeneratorFunction.js
  test/isInteger.js
  test/isNegative.js
Due: eslint

chore: bump version to v2.23.0
  package-lock.json
  package.json
Due: none

v2.22.1 [ci skip]
  index.html
Due: none

test(files): Use chai directly instead of internal eq function in test asserts, B#7
  test/isNotGeneratorFunction.js
  test/isNotNil.js
  test/isNotNull.js
  test/isNotNumber.js
  test/isNotObj.js
  test/isNotObjLike.js
  test/isNotPair.js
Due: eslint

Editing
  test/isNotObj.js
Due: eslint

test: use chai directly instead of internal eq function (#1163)
  test/isNotGeneratorFunction.js
  test/isNotNil.js
  test/isNotNull.js
  test/isNotNumber.js
  test/isNotObj.js
  test/isNotObjLike.js
  test/isNotPair.js
Due: eslint

test(files): Use chai directly instead of internal eq function in test asserts, B#8
  test/isNotPlainObj.js
  test/isNotRegExp.js
  test/isNotString.js
  test/isNotUndefined.js
  test/isNotValidDate.js
  test/isNotValidNumber.js
  test/isNull.js
Due: eslint

test: use chai directly instead of internal eq function (#1165)
  test/isNotPlainObj.js
  test/isNotRegExp.js
  test/isNotString.js
  test/isNotUndefined.js
  test/isNotValidDate.js
  test/isNotValidNumber.js
  test/isNull.js
Due: eslint

feat(function): add lastP (#1127)
  src/index.js
  src/lastP.js
  test/lastP.js
  types/index.d.ts
  types/test/lastP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(lastP): add test for custom iterable
  test/lastP.js
Due: eslint

test(files): Use chai directly instead of internal eq function in test asserts, B#9
  test/isNumber.js
  test/isObj.js
  test/isObjLike.js
  test/isOdd.js
  test/isPair.js
  test/isPlainObj.js
  test/isPositive.js
Due: eslint

test: use chai directly instead of internal eq function (#1169)
  test/isNumber.js
  test/isObj.js
  test/isObjLike.js
  test/isOdd.js
  test/isPair.js
  test/isPlainObj.js
  test/isPositive.js
Due: eslint

test(files): Use chai directly instead of internal eq function in test asserts, B#10
  test/isPromise.js
  test/isRegExp.js
  test/isString.js
  test/isThenable.js
  test/isTrue.js
  test/isTruthy.js
  test/isUndefined.js
Due: eslint

refactor(delayP): Refactor delayP tests
  test/delayP.js
  types/test/delayP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
