Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: add trimCharsEnd
  src/index.js
  src/trimCharsEnd.js
  src/trimCharsStart.js
  test/trimCharsEnd.js
  types/index.d.ts
  types/test/trimCharsEnd.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test: add ramda placeholder and make tests consistent
  test/lensNotEq.js
  test/lensNotSatisfy.js
Due: eslint

Editing
  test/lensNotSatisfy.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1279)
  test/lensNotEq.js
  test/lensNotSatisfy.js
Due: eslint

test: add ramda placeholder and make tests consistent
  src/lensTraverse.js
  test/lensSatisfies.js
  test/lensTraverse.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1284)
  src/lensTraverse.js
  test/lensSatisfies.js
  test/lensTraverse.js
Due: eslint

feat: add padStart
  src/index.js
  src/padStart.js
  test/padStart.js
  types/index.d.ts
  types/test/padStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(padCharsStart): fix incorrect documentation
  src/padCharsStart.js
Due: eslint

Address review comments
  src/padStart.js
  test/padStart.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test: add ramda placeholder and make tests consistent
  src/liftF.js
  test/liftF.js
  test/liftFN.js
  test/list.js
Due: eslint

feat: add padStart (#1287)
  src/index.js
  src/padStart.js
  test/padStart.js
  types/index.d.ts
  types/test/padStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Editing
  test/liftF.js
  test/liftFN.js
  test/list.js
Due: eslint

feat(list): improves type of `compact`
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

chore(package): autoformatter for index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

chore(package): typo
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(github): fix typo in github PR template (#1295)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Editing
  test/liftFN.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1291)
  src/liftF.js
  test/liftF.js
  test/liftFN.js
  test/list.js
Due: eslint

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

refactor(typings): improve type signature of compact function (#1294)
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
