Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

Added `thenCatchP`
  src/thenCatchP.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Added tests for thenCatchP
  src/index.js
  test/thenCatchP.js
Due: eslint

test: add ramda placeholder and make tests consistent
  src/notAllPass.js
  src/notBoth.js
  test/nor.js
  test/notAllPass.js
  test/notBoth.js
  test/omitIndexes.js
  test/padCharsEnd.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1324)
  src/notAllPass.js
  src/notBoth.js
  test/nor.js
  test/notAllPass.js
  test/notBoth.js
  test/omitIndexes.js
  test/padCharsEnd.js
Due: eslint

chore(package): update dtslint to version 3.0.0
  package-lock.json
  package.json
Due: none

test: add ramda placeholder and make tests consistent
  test/padCharsStart.js
  test/padEnd.js
  test/padStart.js
  test/pathNotEq.js
  test/pathOrLazy.js
  test/paths.js
  test/pickIndexes.js
  test/propNotEq.js
  test/reduceIndexed.js
Due: eslint

Editing
  test/pathNotEq.js
  test/paths.js
  test/propNotEq.js
  test/reduceIndexed.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1328)
  test/padCharsStart.js
  test/padEnd.js
  test/padStart.js
  test/pathNotEq.js
  test/pathOrLazy.js
  test/paths.js
  test/pickIndexes.js
  test/propNotEq.js
  test/reduceIndexed.js
Due: eslint

Update src/thenCatchP.js
  src/thenCatchP.js
Due: eslint

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update test/thenCatchP.js
  test/thenCatchP.js
Due: eslint

feat(function): fNull
  src/fNull.js
  src/index.js
  test/fNull.js
Due: eslint

feat(function): fnull Changes based on PR comments
  src/fNull.js
  src/fnull.js
  src/index.js
  test/fNull.js
  test/fnull.js
  types/index.d.ts
  types/test/fnull.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(fNull): add type for fNull
  test/fNull.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: Add sortByProps feature with docs
  src/index.js
  src/sortByProps.js
Due: eslint

test: Add tests and function types
  test/sortByProps.js
  types/index.d.ts
  types/test/sortByProps.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(funtion): fnull more changes based on pr review Closes #1235
  test/fnull.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(package): update @babel/* to version 7.8.7 (#1334)
  package-lock.json
  package.json
Due: none
