Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

chore(package): update dtslint to version 1.0.2
  package-lock.json
  package.json
  types/tslint.json
Due: none

test(testem): use custom test page with latest mocha
  test/mocha-testem.mustache
  test/padCharsEnd.js
  test/repeatStr.js
  test/replaceAll.js
  test/sign.js
  test/trimEnd.js
  test/trimStart.js
  test/trunc.js
  testem.json
Due: eslint

test(replaceAll): make tests consistent with other string functions
  test/replaceAll.js
Due: eslint

feat(object): add zipObjWith
  src/index.js
  src/zipObjWith.js
  test/zipObjWith.js
  types/index.d.ts
  types/test/zipObjWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add zipObjWith
  src/zipObjWith.js
  test/zipObjWith.js
  types/index.d.ts
  types/test/zipObjWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add unzipObjWith (#1130)
  src/index.js
  src/unzipObjWith.js
  test/unzipObjWith.js
  types/index.d.ts
  types/test/unzipObjWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add zipObjWith Closes #1129
  src/zipObjWith.js
Due: eslint

docs(RELEASE): add section about publishing to GPR
  RELEASE.md
Due: none

feat(object): add zipObjWith (#1132)
  src/index.js
  src/zipObjWith.js
  test/zipObjWith.js
  types/index.d.ts
  types/test/zipObjWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(padCharsEnd): increase code clarity
  src/internal/polyfills/String.padEnd.js
  src/padCharsEnd.js
  test/padCharsEnd.js
  test/padEnd.js
Due: eslint

feat(string): add padCharsStart (#1143)
  src/index.js
  src/internal/polyfills/String.padStart.js
  src/padCharsStart.js
  test/padCharsStart.js
  types/index.d.ts
  types/test/padCharsStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(padCharsStart): make code consistent with padCharsEnd
  src/internal/polyfills/String.padStart.js
  src/padCharsStart.js
  test/padCharsEnd.js
  test/padCharsStart.js
Due: eslint

chore(release): cut the v2.22.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

v2.22.0 [ci skip]
  index.html
Due: none

test(files): Use chai directly instead of internal eq function in test asserts, B#3
  test/divideNum.js
  test/dropArgs.js
  test/ensureArray.js
  test/flattenPath.js
  test/flattenProp.js
Due: eslint

docs(RELEASE): add information about scoped GPR names
  RELEASE.md
Due: none

chore: bump version to v2.23.0
  package-lock.json
  package.json
Due: none

docs: add additional @see tags
  src/allUnique.js
  src/isNegativeZero.js
Due: eslint

test: use chai directly instead of internal eq function (#1155)
  test/divideNum.js
  test/dropArgs.js
  test/ensureArray.js
  test/flattenPath.js
  test/flattenProp.js
Due: eslint

test(files): Use chai directly instead of internal eq function in test asserts, B#4
  test/floor.js
  test/hasPath.js
  test/inRange.js
  test/isArray.js
  test/isArrayLike.js
Due: eslint

test: use chai directly instead of internal eq function (#1156)
  test/floor.js
  test/hasPath.js
  test/inRange.js
  test/isArray.js
  test/isArrayLike.js
Due: eslint

test(files): Use chai directly instead of internal eq function in test asserts, B#5
  test/isAsyncFunction.js
  test/isBoolean.js
  test/isDate.js
  test/isEmptyArray.js
  test/isEmptyString.js
  test/isEven.js
  test/isFalse.js
Due: eslint

test(files): use chai directly instead of internal eq function (#1157)
  test/isAsyncFunction.js
  test/isBoolean.js
  test/isDate.js
  test/isEmptyArray.js
  test/isEmptyString.js
  test/isEven.js
  test/isFalse.js
Due: eslint

chore(package): fix security vulnerabilities
  package-lock.json
Due: none
