Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

feat(logic): Implement isSparseArray
  src/index.js
  src/isSparseArray.js
  test/isSparseArray.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(logic): Implement nor
  src/index.js
  src/nor.js
  test/nor.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs: Fix documentation of nand
  src/nand.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore: remove opencollective as dependency
  .npmignore
  package-lock.json
  package.json
  scripts/donate.js
Due: eslint

chore(donate): make sure runtime supports String.raw
  scripts/donate.js
Due: eslint

chore(donate): make donate script work on very old environments
  scripts/donate.js
Due: eslint

chore(release): cut the v2.19.1 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none

fix: include donate script into npm distribution
  .npmignore
Due: none

chore(release): cut the v2.19.2 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none

chore: bump version to v2.20.0
  package-lock.json
  package.json
Due: none

v2.19.2 [ci skip]
  index.html
Due: none

docs(FUNDING): add issuehunt to funding list
  .github/FUNDING.yml
Due: none

docs(FUNDING): add liberapay to funding list
  .github/FUNDING.yml
Due: none

docs(FUNDING): add communitybridge to funding list
  .github/FUNDING.yml
Due: none

docs(FUNDING): add ko_fi to funding list
  .github/FUNDING.yml
Due: none
