Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(README): remove duplicite contributing section
  README.md
Due: none

refactor: add more precise trimming
  src/internal/polyfills/String.trimEnd.js
  src/internal/polyfills/String.trimStart.js
Due: eslint

feat: add trimCharsStart
  src/index.js
  src/trimCharsStart.js
  test/trimCharsStart.js
  types/index.d.ts
  types/test/trimCharsStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(trimCharsStart): move curry test to the end
  test/trimCharsStart.js
Due: eslint

Apply suggestions from code review
  src/trimCharsStart.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: add trimCharsStart (#1254)
  src/index.js
  src/trimCharsStart.js
  test/trimCharsStart.js
  types/index.d.ts
  types/test/trimCharsStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test: add ramda placeholder and make tests consistent
  src/isPromise.js
  src/isRegExp.js
  src/isString.js
  test/isPromise.js
  test/isRegExp.js
  test/isString.js
  test/isSymbol.js
  test/isThenable.js
Due: eslint

test: add ramda placeholder and make tests consistent
  src/isTruthy.js
  test/isTrue.js
  test/isTruthy.js
  test/isUndefined.js
  test/isValidDate.js
  test/isValidNumber.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1263)
  src/isTruthy.js
  test/isTrue.js
  test/isTruthy.js
  test/isUndefined.js
  test/isValidDate.js
  test/isValidNumber.js
Due: eslint

chore(release): cut the v2.24.0 release
  CHANGELOG.md
  RELEASE.md
  VERSIONS.md
Due: none

chore: bump version to v2.25.0
  package-lock.json
  package.json
Due: none

v2.24.0 [ci skip]
  index.html
Due: none

test: add ramda placeholder and make tests consistent
  test/lensEq.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1270)
  test/lensEq.js
Due: eslint

test: add ramda placeholder and make tests consistent
  test/lensIso.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1274)
  test/lensIso.js
Due: eslint

feat: add trimCharsEnd
  src/index.js
  src/trimCharsEnd.js
  src/trimCharsStart.js
  test/trimCharsEnd.js
  types/index.d.ts
  types/test/trimCharsEnd.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
