Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update test/findOr.js
  test/findOr.js
Due: eslint

Update findOr.js
  test/findOr.js
Due: eslint

Update index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update findOr.ts
  types/test/findOr.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add findOr (#1479)
  src/findOr.js
  src/index.js
  test/findOr.js
  types/index.d.ts
  types/test/findOr.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

ci(dependabot): auto-merge dependabot's PRs again
  .github/workflows/merge-me.yaml
Due: none

ci(dependabot): use correct GitHub token
  .github/workflows/merge-me.yaml
Due: none

feat: add isInteger32;
  src/index.js
  src/isInteger32.js
  test/isInteger32.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
