Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

chore(package): update sinon to version 7.5.0
  package-lock.json
  package.json
Due: none

feat(promise): add anyP
  src/anyP.js
  src/index.js
  src/internal/polyfills/Promise.any.js
  test/anyP.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(promise): add anyP
  src/anyP.js
  src/index.js
  src/internal/polyfills/Promise.any.js
  test/anyP.js
Due: eslint

feat(symbol): add isSymbol
  src/index.js
  src/isSymbol.js
  test/isSymbol.js
  types/index.d.ts
  types/test/isSymbol.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: add divideBy
  src/divideBy.js
  src/index.js
  test/divideBy.js
  types/index.d.ts
  types/test/divideBy.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: add subtractValue
  src/index.js
  src/subtractValue.js
  test/subtractValue.js
  types/index.d.ts
  types/test/subtractValue.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isSymbol (#1079)
  src/index.js
  src/isSymbol.js
  test/isSymbol.js
  types/index.d.ts
  types/test/isSymbol.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(promise): add anyP
  src/anyP.js
  src/internal/polyfills/Promise.any.js
  test/anyP.js
  types/index.d.ts
  types/test/anyP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add toArray
  src/index.js
  src/toArray.js
  test/toArray.js
  types/index.d.ts
  types/test/toArray.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add toArray
  src/index.js
Due: eslint

refactor: address pr comments
  src/index.js
  src/subtractNum.js
  test/subtractNum.js
  test/subtractValue.js
  types/index.d.ts
  types/test/subtractValue.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor: address pr comments
  src/divideNum.js
  src/index.js
  test/divideBy.js
  test/divideNum.js
  types/index.d.ts
  types/test/divideBy.ts
  types/test/divideNum.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(math): add divideNum (#1081)
  src/divideNum.js
  src/index.js
  test/divideNum.js
  types/index.d.ts
  types/test/divideNum.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(math): add subtractNum (#1082)
  src/index.js
  src/subtractNum.js
  test/subtractNum.js
  types/index.d.ts
  types/test/subtractValue.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add pathOrLazy
  src/index.js
  src/pathOrLazy.js
  test/pathOrLazy.js
  types/index.d.ts
  types/test/pathOrLazy.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix: handle NaN for parity w/ R.pathOr
  src/pathOrLazy.js
  test/pathOrLazy.js
Due: eslint

feat(promise): add anyP
  test/anyP.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(promise): add anyP
  test/anyP.js
Due: eslint

feat(function): add anyP (#1080)
  src/anyP.js
  src/index.js
  src/internal/polyfills/Promise.any.js
  test/anyP.js
  types/index.d.ts
  types/test/anyP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(anyP): add @since jsdoc tag
  src/anyP.js
Due: eslint

chore: bump version vo v2.22.0
  package-lock.json
  package.json
Due: none

refactor: address pr comments
  src/pathOrLazy.js
  test/pathOrLazy.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix: add Array.from polyfill
  src/internal/polyfills/Array.from.js
  src/toArray.js
  test/toArray.js
Due: eslint

fix: type tests
  types/index.d.ts
  types/test/toArray.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

refactor: simplify function
  src/internal/polyfills/Array.from.js
Due: eslint

feat(promise): add firstP
  src/firstP.js
  src/index.js
  test/firstP.js
  types/index.d.ts
  types/test/firstP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix: address pr comments
  src/internal/polyfills/Array.from.js
  src/toArray.js
  test/toArray.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(appendFlipped): add tests for typescript typings
  types/test/appendFlipped.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(argsPass): add tests for typescript typings
  types/index.d.ts
  types/test/argsPass.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(typings): standardize the way how we do tests
  types/index.d.ts
  types/test/allEqual.ts
  types/test/allEqualTo.ts
  types/test/allIdentical.ts
  types/test/allIdenticalTo.ts
  types/test/allP.ts
  types/test/allSettledP.ts
  types/test/anyP.ts
  types/test/appendFlipped.ts
  types/test/divideNum.ts
  types/test/escapeRegExp.ts
  types/test/helpers/index.ts
  types/test/isSparseArray.ts
  types/test/subtractValue.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json
