Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

Update src/filterIndexed.js
  src/filterIndexed.js
Due: eslint

Update test/filterIndexed.js
  test/filterIndexed.js
Due: eslint

feat(list): add filterIndexed (#1713)
  src/filterIndexed.js
  src/index.js
  test/filterIndexed.js
  types/index.d.ts
  types/test/filterIndexed.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(README): change requirements + Node.js versions
  README.md
Due: none

feat(isPrimitive): Add is / isNotPrimitive function
  src/index.js
  src/isNotPrimitive.js
  src/isPrimitive.js
  test/isNotPrimitive.js
  test/isPrimitive.js
  types/index.d.ts
  types/test/isNotPrimitive.ts
  types/test/isPrimitive.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update src/isPrototypeOf.js
  src/isPrototypeOf.js
Due: eslint

Update isPrototypeOf.js
  src/isPrototypeOf.js
Due: eslint

Update isPrototypeOf.js
  test/isPrototypeOf.js
Due: eslint

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update isPrototypeOf.ts
  types/test/isPrototypeOf.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add isPrototypeOf (#1456)
  src/index.js
  src/isPrototypeOf.js
  test/isPrototypeOf.js
  types/index.d.ts
  types/test/isPrototypeOf.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json
