Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

refactor(renameKeyWith): use simpler fallback to renameKeysWith
  src/renameKeyWith.js
  test/renameKeyWith.js
Due: eslint

Revert description change
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(renameKeyWith): add error cases
  types/test/renameKeyWith.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

docs(renameKeyWith): fix since and signature
  src/renameKeyWith.js
Due: eslint

test(renameKeyWith): test all curried cases
  test/renameKeyWith.js
Due: eslint

test(renameKeyWith): returns the original object when renaming a non-existant key
  test/renameKeyWith.js
Due: eslint

feat(function): add catchP
  src/catchP.js
  src/index.js
  test/catchP.js
  types/index.d.ts
  types/test/catchP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: adds isNumber function ref: #788, based on #1454
  src/index.js
  src/internal/isCoercible.js
  src/toNumber.js
  test/toNumber.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(jsdoc): fix Identity missing in documentation
  src/fantasy-land/Identity.js
Due: eslint

Improve compact by using real object instead of dictionnary.
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

docs(Identity): fix Identity missing in documentation (#1620)
  src/fantasy-land/Identity.js
Due: eslint

Update src/renameKeyWith.js
  src/renameKeyWith.js
Due: eslint

feat(object): add renameKeyWith (#1612)
  src/index.js
  src/renameKeyWith.js
  test/renameKeyWith.js
  types/index.d.ts
  types/test/renameKeyWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Add snyk/scan orb
  .circleci/config.yml
Due: none

Move filters to workflow
  .circleci/config.yml
Due: none

fixup! Move filters to workflow
  .circleci/config.yml
Due: none

feat(type): fixing ponyfill for replaceAll
  src/internal/ponyfills/String.replaceAll.js
  test/replaceAll.js
Due: eslint

feat(877): add matchAll + matchAll polyfill + tests
  src/index.js
  src/internal/ponyfills/String.matchAll.js
  src/matchAll.js
  test/matchAll.js
  test/shared/matchResult.js
Due: eslint

feat(877): typescript definition for matchAll
  src/matchAll.js
  types/index.d.ts
  types/test/matchAll.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

ci(deps): add automatic merge GA
  .github/workflows/merge-me.yaml
Due: none

ci: test
  .github/workflows/merge-me.yaml
Due: none

ci: test
  .github/workflows/merge-me.yaml
  .github/workflows/node.yml
Due: none

ci: test
  .circleci/config.yml
Due: none

ci: test
  .github/workflows/node.yml
Due: none
