Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(isNaturalNumber): add ts type tests
  types/test/isNaturalNumber.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

style(isNaturalNumber): update comments
  src/isNaturalNumber.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(Math): add toUinteger32
  src/index.js
  src/toUinteger32.js
  test/toUinteger32.js
  types/index.d.ts
  types/test/toUinteger32.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(raceP): implement function
  src/index.js
  src/raceP.js
Due: eslint

test(raceP): add types and tests
  test/raceP.js
  types/index.d.ts
  types/test/raceP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(raceP): update test description
  test/raceP.js
Due: eslint

feat(invoke): implement function
  src/index.js
  src/invoke.js
Due: eslint

test(invoke): add tests and types
  test/invoke.js
  types/index.d.ts
  types/test/invoke.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(roundTo): implement function
  src/index.js
  src/roundTo.js
Due: eslint

test(roundTo): add tests and types
  test/roundTo.js
  types/index.d.ts
  types/test/roundTo.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(xnor): implement function
  src/index.js
  src/xnor.js
Due: eslint

test(xnor): add tests and types
  test/xnor.js
  types/index.d.ts
  types/test/xnor.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(isSentinelValue): implement function
  src/index.js
  src/isSentinelValue.js
Due: eslint

test(isSentinelValue): add test and types
  test/isSentinelValue.js
  types/index.d.ts
  types/test/isSentinelValue.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(isSentinelValue): add docstring to function
  src/isSentinelValue.js
Due: eslint

docs(isSentinelValue): update docs for type declarations
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(copyKeys): implement function
  src/copyKeys.js
  src/index.js
Due: eslint

test(copyKeys): add types and tests
  test/copyKeys.js
  types/index.d.ts
  types/test/copyKeys.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(copyKeys): update docstring
  src/copyKeys.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(dependabot): update dependabot config to v2
  .dependabot/config.yml
  .github/dependabot.yml
Due: none

chore(security): resolve security issues in npm packages
  package-lock.json
  package.json
Due: none

ci(circle): remove node(11 & 13) testing
  .circleci/config.yml
Due: none

style(toArray): comply with latest prettier version
  test/toArray.js
Due: eslint

feat: add support for ramda@0.27.1
  .circleci/config.yml
  package-lock.json
  package.json
  test/anyP.js
  testem.json
Due: eslint

chore(release): cut the v2.28.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v2.29.0
  package-lock.json
  package.json
Due: none

v2.28.0 [ci skip]
  index.html
Due: none

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
