Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add unzipObjWith
  src/unzipObjWith.js
  test/unzipObjWith.js
  types/index.d.ts
  types/test/unzipObjWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add unzipObjWith
  types/test/unzipObjWith.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

style
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(string): add trimEnd (#1134)
  src/index.js
  src/internal/polyfills/String.trimEnd.js
  src/trimEnd.js
  test/trimEnd.js
  types/index.d.ts
  types/test/trimEnd.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(string): add padEnd
  src/index.js
  src/padEnd.js
  test/padEnd.js
  types/index.d.ts
  types/test/padEnd.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

since version
  src/replaceAll.js
Due: eslint

see tag
  src/unzipObjWith.js
Due: eslint

see
  src/unzipObjWith.js
Due: eslint

feat(replaceAll): implement TC39 proposal (#1124)
  src/internal/polyfills/String.replaceAll.js
  src/replaceAll.js
  test/replaceAll.js
  types/index.d.ts
  types/test/replaceAll.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(replaceAll): make tests consistent with other string functions
  test/replaceAll.js
Due: eslint

feat(object): add unzipObjWith (#1130)
  src/index.js
  src/unzipObjWith.js
  test/unzipObjWith.js
  types/index.d.ts
  types/test/unzipObjWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(appendFlipped): Use chai directly instead of internal eq function in test asserts
  test/appendFlipped.js
Due: eslint

Refactoring
  test/appendFlipped.js
Due: eslint

test(appendFlipped): use chai instead of internal eq (#1142)
  test/appendFlipped.js
Due: eslint

feat(string): added padCharsStart (WIP)
  src/index.js
  src/internal/polyfills/String.padStart.js
  src/padCharsStart.js
  test/padCharsStart.js
Due: eslint

test(files): Use chai directly instead of internal eq function in test asserts, B#1
  test/async.js
  test/ceil.js
  test/compact.js
  test/concatAll.js
  test/concatRight.js
Due: eslint

fix(strings): fixes type in string pad polyfill
  src/internal/polyfills/String.padStart.js
Due: eslint

fix(string): added type information to padCharsStart
  src/padCharsStart.js
  types/index.d.ts
  types/test/padCharsStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test: use chai asserts instead of internal eq function (#1144)
  test/async.js
  test/ceil.js
  test/compact.js
  test/concatAll.js
  test/concatRight.js
Due: eslint

feat(promise): add lastP
  test/lastP.js
Due: eslint

feat(promise): add lastP
  src/lastP.js
Due: eslint

feat(promise): add lastP
  src/index.js
  src/lastP.js
  test/lastP.js
  types/index.d.ts
  types/test/lastP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(files): Use chai directly instead of internal eq function in test asserts, B#2
  test/contained.js
  test/curryRight.js
  test/curryRightN.js
  test/defaultWhen.js
  test/dispatch.js
Due: eslint

chore(package): fix security vulnerability in codecov
  package-lock.json
Due: none

chore(package): update dtslint to version 1.0.2
  package-lock.json
  package.json
  types/tslint.json
Due: none

test(files): use chai directly instead of internal eq function (#1149)
  test/contained.js
  test/curryRight.js
  test/curryRightN.js
  test/defaultWhen.js
  test/dispatch.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
