Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update notEqual.js
  src/notEqual.js
Due: eslint

Update notEqual.js
  test/notEqual.js
Due: eslint

Update index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update notEqual.ts
  types/test/notEqual.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(relation): add notEqual (#1459)
  src/index.js
  src/notEqual.js
  test/notEqual.js
  types/index.d.ts
  types/test/notEqual.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update String.replaceAll.js
  src/internal/ponyfills/String.replaceAll.js
Due: eslint

Update replaceAll.js
  test/replaceAll.js
Due: eslint

fix(repalceAll): add support for special replacement patterns (#1627)
  src/internal/ponyfills/String.replaceAll.js
  test/replaceAll.js
Due: eslint

chore(release): cut the v2.29.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v2.30.0
  package-lock.json
  package.json
Due: none

v2.29.0 [ci skip]
  index.html
Due: none

Update isError.js
  src/isError.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
