Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

chore(package): update dtslint to version 3.4.0
  package-lock.json
  package.json
Due: none

test: add ramda placeholder and make tests consistent
  test/trimCharsStart.js
  test/trimEnd.js
  test/unzipObjWith.js
  test/viewOr.js
  test/weave.js
Due: eslint

Formatting
  test/trimEnd.js
  test/viewOr.js
  test/weave.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1385)
  test/trimCharsStart.js
  test/trimEnd.js
  test/unzipObjWith.js
  test/viewOr.js
  test/weave.js
Due: eslint

test: added tests for thenCatchP
  src/thenCatchP.js
  test/thenCatchP.js
  types/index.d.ts
  types/test/thenCatchP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore: update/tsconfig
  package-lock.json
  package.json
  types/tsconfig.json
Due: none

Update src/thenCatchP.js
  src/thenCatchP.js
Due: eslint

chore(package): update dtslint to version 3.4.1 (#1384)
  package-lock.json
  package.json
  types/tsconfig.json
Due: none

feat: add thenCatchP (#1322)
  src/index.js
  src/thenCatchP.js
  test/thenCatchP.js
  types/index.d.ts
  types/test/thenCatchP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

style(thenCatchP): fix linting issues
  test/thenCatchP.js
Due: eslint

test: add ramda placeholder and make tests consistent
  src/Y.js
  test/Y.js
  test/weaveLazy.js
  test/zipObjWith.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1395)
  src/Y.js
  test/Y.js
  test/weaveLazy.js
  test/zipObjWith.js
Due: eslint

chore(eslint): add ecmaVersion 2020 to allow for big int notation
  .eslintrc
Due: none

chore(dependencies): add polyfill package for big int
  package-lock.json
  package.json
Due: none

test: add tests for isBigInt
  test/internal/polyfills/BigInt.js
  test/isBigInt.js
Due: eslint

feat: add isBigInt predicate function
  src/index.js
  src/isBigInt.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

revert: chore(eslint): add ecmaVersion 2020
  .eslintrc
Due: none

test(isBigInt): remove big int notation
  test/isBigInt.js
Due: eslint

chore(circleci): remove Node 8 testing
  .circleci/config.yml
Due: none

feat(type): add invokeArgs
  src/index.js
  src/invokeArgs.js
  test/invokeArgs.js
  types/index.d.ts
  types/test/invokeArgs.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json
