Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add included
  README.md
  package-lock.json
  package.json
  src/contained.js
  src/included.js
  src/index.js
  test/included.js
  types/index.d.ts
  types/tslint.json
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix(object): remove mergeRight
  src/index.js
  src/mergePath.js
  src/mergeRight.js
  src/trimCharsEnd.js
  src/trimCharsStart.js
  test/isPromise.js
  test/mergeRight.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: add support for ramda@0.28.0
  src/flattenPath.js
  src/omitIndexes.js
  src/pickIndexes.js
  src/spreadPath.js
Due: eslint

fix(object): remove hasPath
  src/hasPath.js
  src/index.js
  test/hasPath.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix(function): remove then
  src/index.js
  src/thenP.js
  test/thenP.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(release): cut the v3.0.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package.json
Due: none

chore: bump version to v3.1.0
  package-lock.json
  package.json
Due: none

v3.0.0 [ci skip]
  index.html
Due: none

updating logic to use functional composition
  src/isBlank.js
  test/isBlank.js
Due: eslint

feat(isBlank): implemented isBlank function (#2141)
  src/index.js
  src/isBlank.js
  test/isBlank.js
Due: eslint

test(isBlank): add tests + types
  src/isBlank.js
  test/isBlank.js
  types/index.d.ts
  types/test/isBlank.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

adding isBlank in conditions
  src/presence.js
  test/presence.js
Due: eslint

refactoring moving isBlank to internal dependdecy
  src/index.js
  src/internal/isBlank.js
  test/isBlank.js
Due: eslint

updating import of isBlank
  src/presence.js
  test/internal/isBlank.js
Due: eslint

chore(deps-dev): bump sinon from 11.1.2 to 13.0.1
  package-lock.json
  package.json
  webpack.config-test.web.js
Due: eslint

chore(deps-dev): bump sinon from 11.1.2 to 13.0.1 (#2194)
  package-lock.json
  package.json
  webpack.config-test.web.js
Due: eslint

chore(deps-dev): bump fantasy-laws from 1.2.0 to 2.0.1
  package-lock.json
  package.json
  test/fantasy-land/Identity.mjs
Due: none

chore(deps-dev): bump fantasy-laws from 1.2.0 to 2.0.1 (#2195)
  package-lock.json
  package.json
  test/fantasy-land/Identity.mjs
Due: none

Rename `sortByPath` to `sortByPaths` and code review
  src/index.js
  src/sortByPaths.js
  test/sortByPaths.js
Due: eslint

Update sortByPaths.js
  src/sortByPaths.js
Due: eslint

Update sortByPaths.js
  test/sortByPaths.js
Due: eslint

Add sortByPaths types
  types/index.d.ts
  types/test/sortByPaths.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add sortByPaths (#2104)
  src/index.js
  src/sortByPaths.js
  test/sortByPaths.js
  types/index.d.ts
  types/test/sortByPaths.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
