Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

Editing
  test/invokeArgs.js
Due: eslint

Editing
  src/invokeArgs.js
Due: eslint

Editing
  types/test/invokeArgs.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Editing
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

chore(circleci): remove Node 8 testing (#1407)
  .circleci/config.yml
Due: none

Editing
  src/invokeArgs.js
  test/invokeArgs.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(circleci): remove node 9 testing
  .circleci/config.yml
Due: none

chore(circleci): remove node 9 testing (#1411)
  .circleci/config.yml
Due: none

Editing
  src/invokeArgs.js
  test/invokeArgs.js
  types/index.d.ts
  types/test/invokeArgs.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix(iterable): Convert isIterable into a type guard function
  types/index.d.ts
  types/test/isIterable.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix(iterable): convert isIterable into a type guard function (#1414)
  types/index.d.ts
  types/test/isIterable.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

docs(isBigInt): update JS doc
  src/isBigInt.js
Due: eslint

test(isBigInt): change placeholder test
  test/isBigInt.js
Due: eslint

docs(isBigInt): update type docs
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

refactor(isBigInt): use type from ramda
  src/isBigInt.js
Due: eslint

test(isBigInt): update import
  test/isBigInt.js
Due: eslint

chore(isBigInt): update import
  src/isBigInt.js
Due: eslint

test(isBigInt): update tests to only run if BigInt is defined
  test/internal/polyfills/BigInt.js
  test/isBigInt.js
  test/shared/BigInt.js
Due: eslint

test(isBigInt): add type tests
  types/test/isBigInt.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

revert: chore(dependencies): add polyfill package for big int
  package-lock.json
  package.json
Due: none
