Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(toNumber): add tests and types
  test/toNumber.js
  types/index.d.ts
  types/test/toNumber.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(toNumber): implement function
  src/canCallNumberFunctionOn.js
  src/index.js
  src/toNumber.js
Due: eslint

chore: test on Node 14 for Node version and for jobs
  .circleci/config.yml
Due: none

test(isPrototypeOf): add tests and types
  test/isPrototypeOf.js
  types/index.d.ts
  types/test/isPrototypeOf.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(isPrototypeOf): implement function
  src/index.js
  src/isPrototypeOf.js
Due: eslint

test: add tests and types for isPrimitive and isNotPrimitive
  test/isNotPrimitive.js
  test/isPrimitive.js
  types/index.d.ts
  types/isNotPrimitive.ts
  types/test/isPrimitive.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: implement isPrimitive and isNotPrimitive
  src/index.js
  src/isNotPrimitive.js
  src/isPrimitive.js
Due: eslint

docs(isNotPrimitive): improve docs
  src/isNotPrimitive.js
Due: eslint

docs: fix isNotPrimitve docs
  src/isNotPrimitive.js
Due: eslint

test(notAllEqual): add tests and types
  test/notAllEqual.js
  types/index.d.ts
  types/test/notAllEqual.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(notAllEqual): implement function
  src/index.js
  src/notAllEqual.js
Due: eslint

test(notEqual): add tests and types
  test/notEqual.js
  types/index.d.ts
  types/test/notEqual.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(notEqual): implement function
  src/index.js
  src/notEqual.js
Due: eslint

feat(src): adds to types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(src): adds test coverage
  test/filterIndexed.js
Due: eslint

feat(src): adds types test
  types/test/filterIndexed.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

chore(release): cut the v2.27.0 release
  CHANGELOG.md
  README.md
  RELEASE.md
  VERSIONS.md
  package-lock.json
Due: none

chore: bump version to v2.28.0
  package-lock.json
  package.json
Due: none

docs(RELEASE): fix typo in version
  RELEASE.md
Due: none

v2.27.0 [ci skip]
  index.html
Due: none

docs: add @since tag
  src/isBigInt.js
  src/isNotMap.js
  src/isNotSet.js
Due: eslint

chore: update dtslint to 3.6.4 version
  package-lock.json
  package.json
Due: none

ci(circle): add Node 14 testing (#1455)
  .circleci/config.yml
Due: none

feat: Add findOr
  src/findOr.js
  src/index.js
  test/findOr.js
  types/index.d.ts
  types/test/findOr.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore: one line documentation
  src/findOr.js
Due: eslint

feat: remove unnecessary context block in unit test
  test/findOr.js
Due: eslint

test(isNaturalNumber): add type tests
  src/isNaturalNumber.js
  test/isNaturalNumber.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(toUinteger32): implemented function
  src/index.js
  src/toUinteger32.js
Due: eslint

test(toUinteger32): added tests
  test/toUinteger32.js
Due: eslint

feat(toUinteger32): added alias to feature
  src/index.js
  src/toUinteger32.js
Due: eslint

test(toUinteger32): added more test cases
  test/toUinteger32.js
Due: eslint

docs(jsdoc): replace {number} with {Number}
  src/curryRightN.js
  src/inRange.js
  src/liftFN.js
  src/move.js
Due: eslint

docs(toUinteger32): added suggested changes to documentation
  src/index.js
  src/toUinteger32.js
Due: eslint

feat(toInteger32): add toInteger32
  src/index.js
  src/toInteger32.js
  test/toInteger32.js
  types/index.d.ts
  types/test/toInteger32.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(trampoline): update docstring
  src/trampoline.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
