Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

docs(CHANGELOG): remove catchP from 2.34.0 release
  CHANGELOG.md
Due: none

docs(CHANGELOG): include proper changelog notes for v2.34.0
  CHANGELOG.md
Due: none

Update src/copyKeys.js
  src/copyKeys.js
Due: eslint

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update copyKeys.js
  test/copyKeys.js
Due: eslint

feat: add copyKeys (#1558)
  src/copyKeys.js
  src/index.js
  test/copyKeys.js
  types/index.d.ts
  types/test/copyKeys.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(release): cut the v2.35.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v2.35.0
  package-lock.json
  package.json
Due: none

v2.35.0 [ci skip]
  index.html
Due: none

docs(README): remove dependencies badges
  README.md
Due: none

docs(isNotNilOrEmpty): fix typo in description
  src/isNotNilOrEmpty.js
Due: eslint

chore(deps-dev): bump eslint to v8.2.0
  package-lock.json
  package.json
  src/index.js
  src/internal/ponyfills/Promise.any.js
  test/lastP.js
  test/noneP.js
Due: eslint

ci: fix
  .github/workflows/nodejs.yaml
Due: none

ci: node
  .github/workflows/nodejs.yaml
Due: none

chore(deps-dev): bump eslint to v8.2.0 (#2086)
  .github/workflows/nodejs.yaml
  package-lock.json
  package.json
  src/index.js
  src/internal/ponyfills/Promise.any.js
  test/lastP.js
  test/noneP.js
Due: eslint
