Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

test(types): fix error while testing types (#2360)
  package.json
Due: none

ci: update deploy action to latest version
  .github/workflows/nodejs.yaml
Due: none

ci: fix deploy action version
  .github/workflows/nodejs.yaml
Due: none

refactor(types): change signature for renameKeys
  package.json
  types/index.d.ts
  types/test/isMap.ts
  types/test/isNotMap.ts
  types/test/renameKeys.ts
  types/test/sortByPaths.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

refactor(types): change signature for renameKeys (#2370)
  package.json
  types/index.d.ts
  types/test/isMap.ts
  types/test/isNotMap.ts
  types/test/renameKeys.ts
  types/test/sortByPaths.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

ci: add CodeQL analysis
  .github/workflows/codeql.yml
Due: none

Rework tests
  test/sortByProp.js
Due: eslint

typings
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Create sortByProp.ts
  types/test/sortByProp.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

ci: avoid generating docs on dependabot PRs
  .github/workflows/nodejs.yaml
Due: none

ci(merge-me): fix version of ahmadnassri/action-dependabot-auto-merge to v2.6.0
  .github/workflows/merge-me.yaml
Due: none

ci(merge-me): fix version of ahmadnassri/action-dependabot-auto-merge to v2.5.0
  .github/workflows/merge-me.yaml
Due: none
