Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

refactor(src): remove curry1 dependency
  src/allEqual.js
  src/allIdentical.js
  src/allP.js
  src/allSettledP.js
  src/anyP.js
Due: eslint

refactor(src): remove curry1 dependency
  src/async.js
  src/ceil.js
  src/floor.js
  src/isArray.js
  src/isArrayLike.js
Due: eslint

Revert "refactor(src): remove curry1 dependency"
  src/async.js
  src/ceil.js
  src/floor.js
  src/isArray.js
  src/isArrayLike.js
Due: eslint

test: add ramda placeholder and make tests consistent
  test/replaceAll.js
  test/resolveP.js
  test/seq.js
  test/sliceFrom.js
  test/sliceTo.js
Due: eslint

test: add ramda placeholder and make tests consistent (#1344)
  test/replaceAll.js
  test/resolveP.js
  test/seq.js
  test/sliceFrom.js
  test/sliceTo.js
Due: eslint

refactor: use curryN instead of internal curry1 (#1342)
  src/allEqual.js
  src/allIdentical.js
  src/allP.js
  src/allSettledP.js
  src/anyP.js
Due: eslint

Update src/skipTake.js
  src/skipTake.js
Due: eslint

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat: skipTake
  src/skipTake.js
  test/skipTake.js
  types/test/skipTake.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: skipTake
  src/index.js
  src/skipTake.js
  test/skipTake.js
  types/index.d.ts
  types/test/skipTake.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat: skipTake
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

refactor(src): remove curry1 dependency
  src/isAsyncFunction.js
  src/isBoolean.js
  src/isDate.js
  src/isEven.js
  src/isFinite.js
Due: eslint

refactor(src): remove curry1 dependency
  src/isGeneratorFunction.js
  src/isIndexed.js
  src/isInteger.js
  src/isIterable.js
  src/isMap.js
Due: eslint

refactor: use curryN instead of internal curry1 (#1349)
  src/isGeneratorFunction.js
  src/isIndexed.js
  src/isInteger.js
  src/isIterable.js
  src/isMap.js
Due: eslint

refactor: use curryN instead of internal curry1 (#1347)
  src/async.js
  src/ceil.js
  src/floor.js
  src/isArray.js
  src/isArrayLike.js
Due: eslint

refactor: use curryN instead of internal curry1 (#1348)
  src/isAsyncFunction.js
  src/isBoolean.js
  src/isDate.js
  src/isEven.js
  src/isFinite.js
Due: eslint

refactor(src): remove curry1 dependency migrate from internal curry1 to standard curryN fifth batch of 5: src/isNaN.js src/isNegative.js src/isNilOrEmpty.js src/isNonNegative.js src/isNonPositive.js
  src/isNaN.js
  src/isNegative.js
  src/isNilOrEmpty.js
  src/isNonNegative.js
  src/isNonPositive.js
Due: eslint

refactor(src): remove curry1 dependency
  src/isNotFloat.js
  src/isNumber.js
  src/isObj.js
  src/isObjLike.js
  src/isOdd.js
Due: eslint

refactor(src): remove curry1 dependency migrate from internal curry1 to standard curryN seventh batch of 5: src/isPair.js src/isPlainObj.js src/isPromise.js src/isRegExp.js src/isSafeInteger.js
  src/isPair.js
  src/isPlainObj.js
  src/isPromise.js
  src/isRegExp.js
  src/isSafeInteger.js
Due: eslint

refactor(src): remove curry1 dependency
  src/isSet.js
  src/isString.js
  src/isSymbol.js
  src/isTruthy.js
  src/isValidDate.js
Due: eslint

refactor(src): remove curry1 dependency
  src/isValidNumber.js
  src/lastP.js
  src/lensTraverse.js
  src/liftF.js
  src/nonePass.js
Due: eslint

refactor(src): remove curry1 dependency
  src/round.js
  src/sign.js
  src/toArray.js
  src/trunc.js
Due: eslint

feat: skipTake
  test/skipTake.js
Due: eslint

feat: add skipTake (#1338)
  src/index.js
  src/skipTake.js
  test/skipTake.js
  types/index.d.ts
  types/test/skipTake.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json
