Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

Add typescript typings and tests; Address review comments
  src/isInteger32.js
  test/isInteger32.js
  types/index.d.ts
  types/test/isInteger32.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isInteger32 (#1826)
  src/index.js
  src/isInteger32.js
  test/isInteger32.js
  types/index.d.ts
  types/test/isInteger32.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(release): cut the v2.32.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

2.33.0
  package-lock.json
  package.json
Due: none

chore: bump version to v2.33.0
  package-lock.json
  package.json
Due: none

v2.32.0 [ci skip]
  index.html
Due: none

feat(type): add isSentinelValue (#793)
  src/index.js
  src/isSentinelValue.js
  test/isSentinelValue.js
  types/index.d.ts
  types/test/isSentinelValue.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Address review comments
  src/isSentinelValue.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isSentinelValue (#1848)
  src/index.js
  src/isSentinelValue.js
  test/isSentinelValue.js
  types/index.d.ts
  types/test/isSentinelValue.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(deps-dev): bump @babel/preset-env from 7.12.11 to 7.13.15
  .husky/.gitignore
  package-lock.json
  package.json
Due: none
