Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

chore: bump version to v4.2.0
  package-lock.json
  package.json
Due: none

v4.1.1 [ci skip]
  index.html
Due: none

chore(deps-dev): bump prettier from 3.0.3 to 3.2.5
  package-lock.json
  package.json
  src/lensTraverse.js
  types/test/allP.ts
Due: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

Update types/test/allP.ts
  types/test/allP.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

chore(deps-dev): bump prettier from 3.0.3 to 3.2.5 (#2941)
  package-lock.json
  package.json
  src/lensTraverse.js
Due: eslint

ci(nodejs): use latest codecov action version (v4)
  .github/workflows/nodejs.yaml
Due: none

ci(nodejs): use latest codecov action version (v4) (#2944)
  .github/workflows/nodejs.yaml
Due: none

chore(deps-dev): update @typescript-eslint/* packages
  package-lock.json
  package.json
Due: none

chore(deps-dev): update @typescript-eslint/* packages (#2945)
  package-lock.json
  package.json
Due: none

test: fix
  package-lock.json
  package.json
Due: none

feat: convert to hybrid npm package (ESM & CommonJS)
  .mocharc.cjs
  babel.config.cjs
  package-lock.json
  package.json
  test/cata.js
  test/concatAll.js
  test/lensTraverse.js
  test/liftF.js
  test/liftFN.js
  test/mocha-bootstrap.js
  test/neither.js
  test/notBoth.js
  test/weave.js
  test/weaveLazy.js
  webpack.config-test.web.cjs
  webpack.config.cjs
Due: eslint

style: fix linting
  package.json
  types/.eslintrc.cjs
Due: none

test: fix types
  types/dtslint.eslint.cjs
Due: none

feat: convert to hybrid npm package (ESM & CommonJS) (#2947)
  .mocharc.cjs
  babel.config.cjs
  package-lock.json
  package.json
  test/cata.js
  test/concatAll.js
  test/lensTraverse.js
  test/liftF.js
  test/liftFN.js
  test/mocha-bootstrap.js
  test/neither.js
  test/notBoth.js
  test/weave.js
  test/weaveLazy.js
  types/.eslintrc.cjs
  types/dtslint.eslint.cjs
  webpack.config-test.web.cjs
  webpack.config.cjs
Due: eslint

build(docs): fix docs building
  package.json
  scripts/jsdoc-inject-dist.cjs
Due: none

chore(deps-dev): bump husky from 8.0.3 to 9.0.11
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

chore(deps-dev): bump husky from 8.0.3 to 9.0.11 (#2948)
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

build(docs): fix docs generation
  .codeclimate.yml
  .npmignore
  jsdoc.cjs
  jsdoc.json
Due: none

ci(dependabot): update GitHub Actions
  .github/dependabot.yml
Due: none

ci(dependabot): update GitHub Actions (#2949)
  .github/dependabot.yml
Due: none

ci(nodejs): run code_coverage job only for non-dependabot commits
  .github/workflows/nodejs.yaml
Due: none

ci: switch all jobs to Node.js@22
  .github/dependabot.yml
  .github/workflows/merge-me.yaml
  .github/workflows/nodejs.yaml
Due: none

ci: switch all jobs to Node.js@22 (#2975)
  .github/dependabot.yml
  .github/workflows/merge-me.yaml
  .github/workflows/nodejs.yaml
Due: none

Path conditions:
  eslint: any of: *.js
  eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js: any of: *.ts
