Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update test/isNotPrimitive.js
  test/isNotPrimitive.js
Due: eslint

Update src/isPrimitive.js
  src/isPrimitive.js
Due: eslint

Update src/isNotPrimitive.js
  src/isNotPrimitive.js
Due: eslint

Update test/isPrimitive.js
  test/isPrimitive.js
Due: eslint

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update types/test/isNotPrimitive.ts
  types/test/isNotPrimitive.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update types/test/isPrimitive.ts
  types/test/isPrimitive.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update isNotPrimitive.js
  test/isNotPrimitive.js
Due: eslint

Update isPrimitive.js
  test/isPrimitive.js
Due: eslint

Update index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isPrimitive/isNotPrimitive (#1722)
  src/index.js
  src/isNotPrimitive.js
  src/isPrimitive.js
  test/isNotPrimitive.js
  test/isPrimitive.js
  types/index.d.ts
  types/test/isNotPrimitive.ts
  types/test/isPrimitive.ts
  types/tslint.json
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update types/test/isNotNil.ts
  types/test/isNotNil.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix(isNotNil): utilize type narrowing (#1672)
  types/index.d.ts
  types/test/isNotNil.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

chore(.npmignore): Add .mocharc.js and .husky to .npmignore
  .npmignore
Due: none

chore(npm): add .mocharc.js and .husky to .npmignore (#1808)
  .npmignore
Due: none

Update src/findOr.js
  src/findOr.js
Due: eslint

Update findOr.js
  src/findOr.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
