Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(makeFlat): use internal makeFlat
  src/flattenDepth.js
  src/index.js
  src/makeFlat.js
  test/makeFlat.js
Due: eslint

test(trampoline): add tests for trampoline function
  test/trampoline.js
Due: eslint

test(trampoline): add type tests for trampoline
  types/test/trampoline.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(trampoline): implement trampoline
  src/index.js
  src/trampoline.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(trampoline): change type definitions
  types/index.d.ts
  types/test/trampoline.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(isNotSet): add tests and types for isNotSet
  test/isNotSet.js
  types/index.d.ts
  types/test/isNotSet.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(isNotSet): implement isNotSet
  src/index.js
  src/isNotSet.js
Due: eslint

test(isNotMap): add types and tests for isNotMap
  test/isNotMap.js
  types/index.d.ts
  types/test/isNotMap.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(isNotMap): implement isNotMap
  src/index.js
  src/isNotMap.js
Due: eslint

test(isBigInt): test method for negative cases outside conditional
  test/isBigInt.js
Due: eslint

feat: add isBigInt (#1406)
  src/index.js
  src/isBigInt.js
  test/isBigInt.js
  test/shared/BigInt.js
  types/index.d.ts
  types/test/isBigInt.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Editing
  src/invokeArgs.js
  test/invokeArgs.js
Due: eslint

chore(ci): add tests for Node version 13
  .circleci/config.yml
Due: none

chore(ci): add tests for Node version 13 (#1437)
  .circleci/config.yml
Due: none

Implemented isNaturalNumber
  src/index.js
  src/isNaturalNumber.js
  test/isNaturalNumber.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Implemented isNaturalNumber
  src/isNaturalNumber.js
Due: eslint

feat(object): add invokeArgs (#1409)
  src/index.js
  src/invokeArgs.js
  test/invokeArgs.js
  types/index.d.ts
  types/test/invokeArgs.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update src/isNotMap.js
  src/isNotMap.js
Due: eslint

refactor(makeFlat): use internal makeFlat
  src/flattenDepth.js
  src/index.js
  src/internal/makeFlat.js
  test/internal/makeFlat.js
  test/makeFlat.js
Due: eslint

Update src/isNotSet.js
  src/isNotSet.js
Due: eslint

feat: add isNotMap (#1433)
  src/index.js
  src/isNotMap.js
  test/isNotMap.js
  types/index.d.ts
  types/test/isNotMap.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isNotSet (#1434)
  src/index.js
  src/isNotSet.js
  test/isNotSet.js
  types/index.d.ts
  types/test/isNotSet.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(rangeStep): implement function
  src/index.js
  src/rangeStep.js
Due: eslint

test(rangeStep): add tests and types
  test/rangeStep.js
  types/index.d.ts
  types/test/rangeStep.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(rangeStep): update docstrings
  src/rangeStep.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(rangeStep): use Math.floor to round numbers
  src/rangeStep.js
Due: eslint

refactor(flattenDepth): use internal makeFlat function (#1421)
  src/flattenDepth.js
  src/internal/makeFlat.js
  test/internal/makeFlat.js
Due: eslint

Apply suggestions from code review
  src/filterIndexed.js
Due: eslint

feat(src): add filterIndexed
  src/filterIndexed.js
  src/index.js
  test/filterIndexed.js
Due: eslint

feat(overlaps): implement overlaps
  src/index.js
  src/overlaps.js
Due: eslint

test(overlaps): add tests and typing for overlaps
  test/overlaps.js
  types/index.d.ts
  types/test/overlaps.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(overlaps): fix type tests
  types/index.d.ts
  types/test/overlaps.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(overlaps): separate placeholder and currying tests
  test/overlaps.js
Due: eslint

test(isError): add test and types
  test/isError.js
  types/index.d.ts
  types/test/isError.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(isError): implement function
  src/index.js
  src/isError.js
Due: eslint

feat(type): add isNaturalNumber
  src/index.js
  src/isNaturalNumber.js
  test/isNaturalNumber.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
