Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

Update src/isNaturalNumber.js
  src/isNaturalNumber.js
Due: eslint

feat(type): isNaturalNumber (#1450)
  src/index.js
  src/isNaturalNumber.js
  test/isNaturalNumber.js
  types/index.d.ts
  types/test/isNaturalNumber.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(isNaturalNumber): fix imports
  test/isNaturalNumber.js
Due: eslint

fix(compact): remove other falsy values from type
  types/index.d.ts
  types/test/compact.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

docs(comment): fic link to sequence
  src/lensTraverse.js
Due: eslint

docs(lensTraverse): fix link to sequence (#1605)
  src/lensTraverse.js
Due: eslint

Fix compact type
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(async): add type test
  types/test/async.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(cata): add type test
  types/test/cata.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix(cata): use correct type in curried version
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(compact): add type test
  types/test/compact.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(concatAll): add type test
  types/test/concatAll.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(concatRight): add type test
  types/test/concatRight.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test: implement tests
  test/whereAny.js
Due: eslint

test: separate param is not an object
  test/whereAny.js
Due: eslint

chore: remove vscode workspace config from versionning
  .gitignore
Due: none

test: fix tests data
  test/whereAny.js
Due: eslint

feat: whereAny implementation
  src/index.js
  src/whereAny.js
Due: eslint

test(types): add missing type tests (#1613)
  types/index.d.ts
  types/test/async.ts
  types/test/cata.ts
  types/test/compact.ts
  types/test/concatAll.ts
  types/test/concatRight.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix(compact): remove other falsy values from type (#1603)
  types/index.d.ts
  types/test/compact.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(renameKeyWith): add renameKeyWith
  src/index.js
  src/renameKeyWith.js
  test/renameKeyWith.js
  types/index.d.ts
  types/test/renameKeyWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(renameKeyWith): overwrite existing value with same key name
  src/renameKeyWith.js
  test/renameKeyWith.js
Due: eslint

test(renameKeyWith): do not change other key-value pairs
  test/renameKeyWith.js
Due: eslint
