Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

feat(Object): add invoke (#1554)
  src/index.js
  src/invoke.js
  test/invoke.js
  types/index.d.ts
  types/test/invoke.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(release): cut the v2.31.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v2.32.0
  package-lock.json
  package.json
Due: none

v2.31.0 [ci skip]
  index.html
Due: none

fix(deps): remove postinstall husky script
  package.json
Due: none

chore(release): cut the v2.31.1 release
  package-lock.json
  package.json
Due: none

chore: post-release changes
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none

v2.31.1 [ci skip]
  index.html
Due: none

Update src/isNotPrimitive.js
  src/isNotPrimitive.js
Due: eslint

Update src/isPrimitive.js
  src/isPrimitive.js
Due: eslint

Update test/isPrimitive.js
  test/isPrimitive.js
Due: eslint

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update test/isNotPrimitive.js
  test/isNotPrimitive.js
Due: eslint

edit lint config
  types/index.d.ts
  types/tslint.json
Due: tslint --project types/tsconfig.json -c types/tslint.json

use shared Symbol
  test/isNotPrimitive.js
  test/isPrimitive.js
Due: eslint
