Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

docs(trampoline): update docstring
  src/trampoline.js
Due: eslint

feat(trampoline): curry function
  src/trampoline.js
  test/trampoline.js
  types/index.d.ts
  types/test/trampoline.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update src/toInteger32.js
  src/toInteger32.js
Due: eslint

Update test/toInteger32.js
  test/toInteger32.js
Due: eslint

Update types/test/toInteger32.ts
  types/test/toInteger32.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(Math): add toInteger32 (#1463)
  src/index.js
  src/toInteger32.js
  test/toInteger32.js
  types/index.d.ts
  types/test/toInteger32.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(package): update mocha to v8.0.1
  .mocharc.js
  package-lock.json
  package.json
  test/mocha.opts
Due: eslint

chore(package): update testem to v3.2.0
  package-lock.json
  package.json
Due: none

test(toInteger32): fix alias testing
  test/toInteger32.js
Due: eslint

refactor: better typescript support
  src/compact.js
  src/isFalsy.js
  src/nand.js
  src/reduceP.js
  src/reduceRightP.js
  src/zipObjWith.js
  types/index.d.ts
  types/test/argsPass.ts
  types/test/invokeArgs.ts
  types/test/pathOrLazy.ts
  types/test/skipTake.ts
  types/test/sortByProps.ts
  types/test/toArray.ts
  types/test/unzipObjWith.ts
  types/test/zipObjWith.ts
  types/tslint.json
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Update test/toUinteger32.js
  test/toUinteger32.js
Due: eslint

Update src/toUinteger32.js
  src/toUinteger32.js
Due: eslint

test(toUinteger32): replaced isAtLeast to strictEqual
  test/toUinteger32.js
Due: eslint

chore(trampoline): change function signature
  src/trampoline.js
Due: eslint

test(trampoline): update tests and type tests
  test/trampoline.js
  types/index.d.ts
  types/test/trampoline.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(toUinteger32): Added typings and tests for typings
  types/index.d.ts
  types/test/toUinteger32.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update types/index.d.ts
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Update types/test/toUinteger32.ts
  types/test/toUinteger32.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
