Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

chore(release): cut the v5.1.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v5.1.1
  package-lock.json
  package.json
Due: none

v5.1.0 [ci skip]
  index.html
Due: none

docs(mergeProp): fix docs for p argument
  src/mergeProp.js
Due: eslint

docs(mergeProp): fix docs for p argument (#3098)
  src/mergeProp.js
Due: eslint

chore: fix links in changelog
  CHANGELOG.md
Due: none

Fix types for ramda 0.29.0 breaking changes
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

fix(types): fix types for ramda 0.29.0 breaking changes (#3100)
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

feat: move isCoercible method to public API
  src/index.js
  src/isCoercible.js
  src/toNumber.js
  test/isCoercible.js
Due: eslint

docs(isMap): typo err in example
  src/isMap.js
Due: eslint

docs(isMap): typo err in example (#3333)
  src/isMap.js
Due: eslint

docs: provide CLAUDE.md
  CLAUDE.md
Due: none

ci: use Node.js 24
  .github/workflows/nodejs.yaml
Due: none

ci: use Node.js 24 (#3356)
  .github/workflows/nodejs.yaml
Due: none

ci(nodejs): github pages deploy action config fixes
  .github/workflows/nodejs.yaml
Due: none

feat: add support for ramda@0.32.0
  .github/workflows/nodejs.yaml
  package-lock.json
  package.json
  src/copyKeys.js
  src/index.js
  src/renameKey.js
  src/renameKeys.js
  test/renameKeys.js
  types/test/renameKeys.ts
Due: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

chore: update lock
  package-lock.json
Due: none

ci: fix
  .github/workflows/nodejs.yaml
Due: none

fix: ramda version
  README.md
  package-lock.json
  package.json
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

feat: add support for ramda@0.32.0 (#3357)
  .github/workflows/nodejs.yaml
  README.md
  package-lock.json
  package.json
  src/copyKeys.js
  src/index.js
  src/renameKey.js
  src/renameKeys.js
  test/renameKeys.js
  types/index.d.ts
  types/test/renameKeys.ts
Due: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

Path conditions:
  eslint: any of: *.js
  eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js: any of: *.ts
