Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Refactoring
  src/internal/polyfills/String.replaceAll.js
Due: eslint

Refactoring, dtslint
  types/test/replaceAll.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix: add more tests
  src/trimStart.js
  test/trimStart.js
  types/test/trimStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add notAllUnique
  src/index.js
  src/notAllUnique.js
  test/notAllUnique.js
  types/index.d.ts
  types/test/notAllUnique.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(number): update unit tests
  test/isSafeInteger.js
Due: eslint

feat(number): remove redundant white spaces
  test/isSafeInteger.js
Due: eslint

feat(promise): add lastP
  src/index.js
  src/lastP.js
  test/lastP.js
  types/index.d.ts
  types/test/lastP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(promise): add lastP
  test/lastP.js
Due: eslint

feat(promise): add lastP
  src/lastP.js
Due: eslint

feat(type): add isSafeInteger (#1112)
  src/index.js
  src/internal/polyfills/Number.isSafeInteger.js
  src/isSafeInteger.js
  test/isSafeInteger.js
  types/index.d.ts
  types/test/isSafeInteger.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(isSafeInteger): fix naming
  test/isSafeInteger.js
Due: eslint

feat(function): add firstP alias for anyP
  src/index.js
  test/anyP.js
  types/index.d.ts
  types/test/anyP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(string): add trimStart (#1116)
  src/index.js
  src/internal/polyfills/String.trimStart.js
  src/trimStart.js
  test/trimStart.js
  types/index.d.ts
  types/test/trimStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(trimStart): clean up after merge
  test/trimStart.js
  types/test/trimStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Changes
  src/notAllUnique.js
Due: eslint

feat(string): add padCharsEnd
  src/index.js
  src/internal/polyfills/String.padCharsEnd.js
  src/padCharsEnd.js
  test/padCharsEnd.js
  types/index.d.ts
  types/test/padCharsEnd.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add notAllUnique (#1125)
  src/index.js
  src/notAllUnique.js
  test/notAllUnique.js
  types/index.d.ts
  types/test/notAllUnique.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(string): add padCharsEnd
  src/internal/polyfills/String.padCharsEnd.js
  src/padCharsEnd.js
  test/padCharsEnd.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Editing
  src/internal/polyfills/String.replaceAll.js
  src/replaceAll.js
  test/replaceAll.js
Due: eslint

Editing
  src/replaceAll.js
Due: eslint

Editing
  test/replaceAll.js
Due: eslint

feat(string): add trimEnd
  src/index.js
  src/internal/polyfills/String.trimEnd.js
  src/trimEnd.js
  test/trimEnd.js
  types/index.d.ts
  types/test/trimEnd.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Add @see tag
  src/padCharsEnd.js
Due: eslint

Add @see tag
  src/trimEnd.js
Due: eslint

feat(object): add unzipObjWith
  src/index.js
  src/unzipObjWith.js
  test/unzipObjWith.js
  types/index.d.ts
  types/test/unzipObjWith.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add unzipObjWith
  src/unzipObjWith.js
  test/unzipObjWith.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Comment fix
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Editing
  src/replaceAll.js
  test/replaceAll.js
Due: eslint

style fix
  src/trimEnd.js
Due: eslint

feat(string): add padCharsEnd (#1131)
  src/index.js
  src/internal/polyfills/String.padCharsEnd.js
  src/padCharsEnd.js
  test/padCharsEnd.js
  types/index.d.ts
  types/test/padCharsEnd.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
