Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

build(docs): use @jsdoc/salty to replace tuffydb
  package-lock.json
  package.json
Due: none

ci(merge-me): replace non-functioning merge action
  .github/workflows/merge-me.yaml
Due: none

ci(merge-me): fix in merge worfklow
  .github/workflows/merge-me.yaml
Due: none

ci(merge-me): use dependabot to merge it's PRs
  .github/workflows/merge-me.yaml
Due: none

Improve `sortByProp` types
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

Improve `sortByProp` doctype
  src/sortByProp.js
Due: eslint

Update sortByProp.ts
  types/test/sortByProp.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

Update index.d.ts
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

feat(list): add sortByProp (#2384)
  src/index.js
  src/sortByProp.js
  src/sortByProps.js
  test/sortByProp.js
  types/index.d.ts
  types/test/sortByProp.ts
Due: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

fix(isGeneratorFunction): remove legacy predicate
  src/isGeneratorFunction.js
Due: eslint

fix(isGeneratorFunction): remove legacy predicate (#2431)
  src/isGeneratorFunction.js
Due: eslint

chore(release): cut the v3.4.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore(deps-dev): bump glob from 8.1.0 to 9.0.2
  package-lock.json
  package.json
  webpack.config-test.web.js
Due: eslint

chore(deps-dev): bump glob from 8.1.0 to 9.0.2 (#2518)
  package-lock.json
  package.json
  webpack.config-test.web.js
Due: eslint

chore(release): cut the v4.0.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
  scripts/jsdoc-inject-dist.js
Due: eslint

chore: bump version to v4.1.0
  package-lock.json
  package.json
Due: none

v4.0.0 [ci skip]
  index.html
Due: none

build: add files to npm ignore
  .npmignore
Due: none

docs(pathNotEq): fix typo in lib namespace
  src/pathNotEq.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js: any of: *.ts
