Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor: delayP rewriting to make it more concise :rocket:
  src/delayP.js
  test/delayP.js
Due: eslint

feat(type): add isPositiveZero
  src/index.js
  src/isPositiveZero.js
  test/isPositiveZero.js
  types/index.d.ts
  types/test/isPositiveZero.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Edit
  src/isPositiveZero.js
  test/isPositiveZero.js
  types/test/isPositiveZero.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(number): add isSafeInteger
  src/index.js
  src/internal/polyfills/Number.isSafeInteger.js
  src/isSafeInteger.js
  test/isSafeInteger.js
  types/index.d.ts
  types/test/isSafeInteger.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Pre-merge editing
  src/isPositiveZero.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Adding test
  git
  test/isPositiveZero.js
Due: eslint

Deleting file
  git
Due: none

Editing test code formatting
  test/isPositiveZero.js
Due: eslint

Editing test description
  test/isPositiveZero.js
Due: eslint

feat(type): add isNegativeZero
  src/index.js
  src/isNegativeZero.js
  test/isNegativeZero.js
  types/index.d.ts
  types/test/isNegativeZero.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isSet
  src/index.js
  src/isSet.js
  test/isSet.js
  types/index.d.ts
  types/test/isSet.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(string): add trimStart
  src/index.js
  src/internal/polyfills/String.trimStart.js
  src/trimStart.js
  test/trimStart.js
  types/index.d.ts
  types/test/trimStart.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(number): update unit tests
  src/isSafeInteger.js
  test/isSafeInteger.js
  types/test/isSafeInteger.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add allUnique
  src/allUnique.js
  src/index.js
  test/allUnique.js
  types/index.d.ts
  types/test/allUnique.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(type): isPositiveZero (#1111)
  src/index.js
  src/isPositiveZero.js
  test/isPositiveZero.js
  types/index.d.ts
  types/test/isPositiveZero.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(delayP): Added typescript types and tests :tada:
  .gitignore
  src/delayP.js
  types/index.d.ts
  types/test/delayP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

refactor(delayP): updated docs
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(list): add allUnique (#1117)
  src/allUnique.js
  src/index.js
  test/allUnique.js
  types/index.d.ts
  types/test/allUnique.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix(isSet): Moved positive to the top
  types/test/isSet.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix(isSet): Made the value set<any>, not boolean
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix(isSet): Make isSet's test up-to-date
  test/isSet.js
Due: eslint

fix(isSet): Made it link correctly, use pipe and identical instead of is
  src/isSet.js
Due: eslint

feat(type): add isSet (#1114)
  src/index.js
  src/isSet.js
  test/isSet.js
  types/index.d.ts
  types/test/isSet.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isMap
  src/index.js
  src/isMap.js
  test/isMap.js
  types/index.d.ts
  types/test/isMap.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isNegativeZero (#1109)
  src/index.js
  src/isNegativeZero.js
  test/isNegativeZero.js
  types/index.d.ts
  types/test/isNegativeZero.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix(isMap): Make it test isMap
  types/test/isMap.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(type): add isMap (#1120)
  src/index.js
  src/isMap.js
  test/isMap.js
  types/index.d.ts
  types/test/isMap.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix(replaceAll): add TC39 proposal-compliant String.replaceAll ponyfill to use in RA.replaceAll
  src/internal/polyfills/String.replaceAll.js
  src/replaceAll.js
  test/replaceAll.js
  types/index.d.ts
  types/test/replaceAll.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Fixing typos
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

Editing code
  src/internal/polyfills/String.replaceAll.js
  src/replaceAll.js
  test/replaceAll.js
Due: eslint

Refactoring
  src/internal/polyfills/String.replaceAll.js
  test/replaceAll.js
  types/test/replaceAll.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

Path conditions:
  eslint: any of: *.js
  tslint --project types/tsconfig.json -c types/tslint.json: any of: *.ts
