Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

ci: disable Fossa check temporarily
  .github/workflows/nodejs.yaml
Due: none

chore(release): cut the v3.2.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v3.3.0
  package-lock.json
  package.json
Due: none

v3.2.0 [ci skip]
  index.html
Due: none

docs: include isPrimitive/isNotPrimitive into RA namespace
  src/isNotPrimitive.js
  src/isPrimitive.js
Due: eslint

Simplify types and declare named exports
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

add type test for lensIso
  types/test/lensIso.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

update Identity type
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat: add isAsyncIterable
  src/index.js
  src/isAsyncIterable.js
  test/isAsyncIterable.js
Due: eslint

feat(types): simplify types and declare named exports (#2307)
  types/index.d.ts
  types/test/lensIso.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

improve renameKeys type
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

ci(ga): use Node.js 18
  .github/workflows/nodejs.yaml
  .nvmrc
Due: none

ci: fix
  test/cata.js
Due: eslint

ci(ga): use Node.js 18 for checks (#2359)
  .github/workflows/nodejs.yaml
  .nvmrc
  test/cata.js
Due: eslint

chore(deps): fix security vulnerabilities
  package-lock.json
Due: none

chore(release): cut the v3.3.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v3.4.0
  package-lock.json
  package.json
Due: none

v3.3.0 [ci skip]
  index.html
Due: none

test(types): fix error while testing types
  package.json
Due: none
