Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

test(argsPass): add tests for typescript typings
  types/index.d.ts
  types/test/argsPass.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

refactor: address pr comments
  src/pathOrLazy.js
  test/pathOrLazy.js
Due: eslint

refactor: fix typos
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test(typings): standardize the way how we do tests
  types/index.d.ts
  types/test/allEqual.ts
  types/test/allEqualTo.ts
  types/test/allIdentical.ts
  types/test/allIdenticalTo.ts
  types/test/allP.ts
  types/test/allSettledP.ts
  types/test/anyP.ts
  types/test/appendFlipped.ts
  types/test/divideNum.ts
  types/test/escapeRegExp.ts
  types/test/helpers/index.ts
  types/test/isSparseArray.ts
  types/test/subtractValue.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

refactor: fix indentation
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

feat(object): add pathOrLazy (#1086)
  src/index.js
  src/pathOrLazy.js
  test/pathOrLazy.js
  types/index.d.ts
  types/test/pathOrLazy.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(ceil): add tests for typescript typings
  types/test/ceil.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

refactor: make default export consistent
  src/argsPass.js
  src/dispatch.js
Due: eslint

fix: throw correct error message
  src/internal/polyfills/Array.from.js
  src/toArray.js
  test/toArray.js
Due: eslint

feat(function): add noneP
  src/index.js
  src/noneP.js
  test/noneP.js
  types/index.d.ts
  types/test/noneP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix: fix ts typing
  types/index.d.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

test: update types test
  types/test/noneP.ts
Due: tslint --project types/tsconfig.json -c types/tslint.json

fix: failing tests
  test/noneP.js
Due: eslint

refactor: address pr comments
  src/noneP.js
  test/noneP.js
  types/index.d.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix: address pr comments
  src/toArray.js
  test/toArray.js
Due: eslint

feat(promise): add firstP
  src/firstP.js
  src/index.js
  test/firstP.js
  types/test/firstP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

feat(promise): add firstP
  src/firstP.js
  test/firstP.js
  test/shared/customIterable.js
Due: eslint

feat(function): add noneP (#1095)
  src/index.js
  src/noneP.js
  test/noneP.js
  types/index.d.ts
  types/test/noneP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

fix: address pr comment
  test/toArray.js
Due: eslint

feat(List): add toArray #342 (#1085)
  src/index.js
  src/internal/polyfills/Array.from.js
  src/toArray.js
  test/toArray.js
  types/index.d.ts
  types/test/toArray.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

test(toArray): make tests more consistent
  test/toArray.js
Due: eslint

feat(promise): add delayP
  .gitignore
  src/delayP.js
  src/index.js
  test/delayP.js
Due: eslint

refactor: delayP :tada:
  src/delayP.js
Due: eslint

fix: delayP tests
  test/delayP.js
Due: eslint
