Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js"
}

Add `renameKey`
  src/index.js
  src/renameKey.js
  test/renameKey.js
Due: eslint

Add `renameKey` types
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

Update `renameKey` implementation
  src/renameKey.js
Due: eslint

Improve `renameKey` types
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

Add typing tests
  types/test/renameKey.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

Add missing accessing property
  types/test/renameKey.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

Update types/test/renameKey.ts
  types/test/renameKey.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

feat(object): add renameKey (#2627)
  src/index.js
  src/renameKey.js
  test/renameKey.js
  types/index.d.ts
  types/test/renameKey.ts
Due: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

chore(deps-dev): update development depedencies
  package-lock.json
  package.json
Due: none

chore(deps-dev): update development depedencies (#2723)
  package-lock.json
  package.json
Due: none

chore(deps-dev): remove unused development dependencies
  package-lock.json
  package.json
Due: none

chore(deps-dev): remove unused development dependencies (#2724)
  package-lock.json
  package.json
Due: none

chore(release): cut the v4.1.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore(release): cut the v4.1.0 release (#2725)
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

build(jsdoc): fix jsdoc injection script
  scripts/jsdoc-inject-dist.js
Due: eslint

docs(RELEASE): fix typo
  RELEASE.md
Due: none

chore: bump version to v4.2.0
  package-lock.json
  package.json
Due: none

chore: bump version to v4.2.0 (#2726)
  package-lock.json
  package.json
Due: none

v4.1.0 [ci skip]
  index.html
Due: none

chore(npm): ignore addtional type related files for npm dist
  .npmignore
Due: none

chore(npm): ignore addtional type related files for npm dist (#2729)
  .npmignore
Due: none

fix(types): fix bug in typings that was causing downstream issues
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

refactor: rename
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

fix(types): fix bug in typings that was causing downstream issues (#2730)
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

chore(release): cut the v4.1.1 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none

chore(release): cut the v4.1.1 release (#2731)
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none
