Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint --project types/tsconfig.json -c types/tslint.json

.lintstagedrc:

{
  "*.js": "eslint",
  "*.ts": "tslint --project types/tsconfig.json -c types/tslint.json"
}

Update src/catchP.js
  src/catchP.js
Due: eslint

Update test/catchP.js
  test/catchP.js
Due: eslint

Update catchP.js
  test/catchP.js
Due: eslint

feat(function): add catchP (#1616)
  src/catchP.js
  src/index.js
  test/catchP.js
  types/index.d.ts
  types/test/catchP.ts
Due: eslint, tslint --project types/tsconfig.json -c types/tslint.json

chore(deps-dev): bump @babel/preset-env from 7.12.11 to 7.14.1
  package-lock.json
  package.json
Due: none

refactor(fantasy-land): make mapping compile im babel
  src/fantasy-land/Identity.js
  src/fantasy-land/mapping.js
  src/fantasy-land/traits.js
  src/internal/ap.js
Due: eslint
