Repository char0n/ramda-adjunct: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

feat: remove isNotEmpty
  src/index.js
  src/isNonEmptyArray.js
  src/isNonEmptyString.js
  src/isNotEmpty.js
  src/overlaps.js
  test/isNotEmpty.js
Due: eslint

feat: add support for ramda@0.30.0
  README.md
  package-lock.json
  package.json
  test/curryRight.js
  test/curryRightN.js
Due: eslint

chore(release): cut the v5.0.0 release
  CHANGELOG.md
  README.md
  VERSIONS.md
  package-lock.json
  package.json
Due: none

chore: bump version to v5.0.1
  package-lock.json
  package.json
Due: none

v5.0.0 [ci skip]
  index.html
Due: none

chore(npm): add babel.config.cjs to npmignore
  .npmignore
Due: none

fix: rebuild currupted UMD builds
  .npmignore
  package.json
  webpack.config.cjs
Due: none

fix: rebuild currupted UMD builds (#2994)
  .npmignore
  package.json
  webpack.config.cjs
Due: none

docs(FUNDING): change order or TideLift funding
  .github/FUNDING.yml
Due: none

chore(nvm): use Node.js@22 for local dev
  .nvmrc
Due: none

chore(nvm): use Node.js@22 for local dev (#3019)
  .nvmrc
Due: none

chore(release): cut the v5.0.1 release
  CHANGELOG.md
  README.md
  VERSIONS.md
Due: none

chore: bump version to v5.1.0
  package-lock.json
  package.json
Due: none

v5.0.1 [ci skip]
  index.html
Due: none

feat: add support for ramda@0.30.1
  package-lock.json
  package.json
Due: none

feat: add support for ramda@0.30.1 (#3020)
  package-lock.json
  package.json
Due: none

fix(types): remove isNotEmpty type declaration
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

fix(types): remove isNotEmpty type declaration (#3072)
  types/index.d.ts
Due: eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js

ci(nodejs): stop testing on Node.js@18
  .github/workflows/nodejs.yaml
Due: none

ci(nodejs): stop testing on Node.js@18 (#3095)
  .github/workflows/nodejs.yaml
Due: none

Path conditions:
  eslint: any of: *.js
  eslint --no-ignore --no-eslintrc -c ./types/.eslintrc.js: any of: *.ts
